{%extends 'base.html'%}
{%block body_block%}
<br>
<h1 style="text-align:center;">Welcome user {{request.user}}</h1>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">submit</button>

        </form>
    </div>
    <div class="col-4"></div>
</div>
{%for blog in blogs%}
<div class="row border mt-3 bg-">
    <div class="col-4"></div>
    <div class="col-4">
        <p>{{blog.title}}</p>
        {%if blog.image%}
        <img src="{{blog.image.url}}" class="img-fluid" alt="">
        <p>posted by {{blog.author}}</p>
        <p>created_at {{blog.posted_date}}</p>
        <form action="{%url 'add-comment' blog.id%}" method="post">
            {%csrf_token%}
            {{comment_form.as_p}}
            <button type="submit">submit</button>
        </form>
        <a href="{%url 'add-like' blog.id%}">Like</a>
        {{blog.get_like_count}}
        {%for user in users%}
        {{blog.get_liked_user}}
        {%endfor%}
        {%endif%}
        {%for comment in blog.comments_set.all%}
        <div>
            <pre>{{comment.comment}} - {{comment.user}}</pre>
        </div>
        <div><span></span></div>
        {%endfor%}
    </div>
    <div class="col-4"></div>
</div>
{%endfor%}

{%endblock%}